/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Animation */
@keyframes showing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Body and HTML */
body {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  margin-top: 0;
  width: 100%;
  height: 100%;
}

html {
  background-color: black;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

/* Wrapper */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Container */
.container {
  max-width: 100%;
  width: 1130px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid violet;
  align-content: center;
}

/* Heading */
.heading {
  height: auto;
  width: 100%;
  background-color: black;
  color: #7acc00;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid violet;
  text-shadow: 1px 3px 8px violet, -3px -1px 8px orange;
}

@media (max-width: 900px) {
  .heading {
    flex-direction: column;
  }
}

/* Boxes */
.boxes {
  width: 100%;
  max-height: 2520px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 36px);
  grid-template-rows: repeat(auto-fit, 36px);
  grid-gap: 6px;
  padding: 1em 0.5em;
}

/* Pixel */
.pixel {
  animation: showing 2s linear forwards;
  border: 1px outset rgba(225, 0, 255, 0.3);
  border-radius: 20px;
}

/* Heading H1 */
h1 {
  text-align: center;
  margin: 0;
}

/* Button */
button {
  background-color: black;
  font-family: inherit;
  border: 1px solid violet;
  color: #7acc00;
  font-size: 1.2em;
  margin: 0.25em 0;
  padding: 0.5em;
  text-shadow: 1px 3px 8px violet, -3px 1px 8px orange;
}

button:hover {
  color: violet;
}

/* Section */
section {
  color: violet;
}

/* Heading H2 */
h2 {
  color: white;
  text-shadow: 1px 3px 8px violet, -3px -1px 8px violet;
  text-align: center;
}
